body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr,
.navbar,
.pagination,
.photo {
  margin-bottom: 30px;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
}

.card-box {
  width: 18rem;
  margin-bottom: 30px;
}

.card-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.photo-info {
  margin-left: 30px;
}
